{{form_start(bookform)}}
<table>
<tr>
<td>{{form_label(bookform.Title, "The title")}}</td>
<td>{{form_widget(bookform.Title)}}</td>
</tr>
<tr>
<td>{{form_label(bookform.publicationDate, "The publication date")}}</td>
<td>{{form_widget(bookform.publicationDate)}}</td>
</tr>
</table>
{{form_end(bookform)}}